@charset "UTF-8";

/*body*/
body 	{font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
		 color: #000000;
		 background-color: #FFFFFF;
				}
		
/*container*/
#outerWrapper {width: 100%;
			   margin: 0 auto 0 auto;
			   background-color: #B87D46;
			   border: 1px solid black; /*dev border*/
			   } 

/*header*/
header	{background-color: #B84F46; /*red*/
		margin: 0 4% 0 4%;} 

#mainLogo	{color: #2C6871;
			 font-size: 36pt;
			 }

/*main content*/			   
main {display: block;
	 width: 100%;
	 margin: 0 auto 0 auto;
	 border: 1px solid black; /*dev border*/
	 background-color: #368D45;} /*lightest green*/

h1, h2 {text-align: center;}

img {display: block;
	}

section	{text-align: justify;
		 padding: 0 2% 0 2%;
		}
#welcomeMsg {
		width: 50%;
		float: left;
		border: 1px solid black; /*dev border*/
		margin: 2% 2% 2% 2%;
		background-color: #FFFFFF;
			}
			
#objectives {clear: both;}
		
/*footer*/
footer			{padding: 0 0.5% 0 0.5%;
					background-color: #B84F46; /*red*/
					margin: 0 4% 0 4%;} 
.footerCreated	{text-align: center;
				  }

