@charset "UTF-8";

/*body*/
body 	{font-family: 'robotolight', Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
		 color: #000000;
		 background-color: #2C6871;
				}
/*fonts*/
@font-face {
    font-family: 'archisticobold';
    src: url('Archistico_Bold-webfont.eot');
    src: url('Archistico_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Archistico_Bold-webfont.woff') format('woff'),
         url('Archistico_Bold-webfont.ttf') format('truetype'),
         url('Archistico_Bold-webfont.svg#archisticobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('Roboto-Light-webfont.eot');
    src: url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Light-webfont.woff') format('woff'),
         url('Roboto-Light-webfont.ttf') format('truetype'),
         url('Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
		
/*container*/
#outerWrapper {width: 100%;
			   margin: 0 auto 0 auto;
			   background-color: #2C6871;
			      } 

/*header*/
header	{background-color: #B84F46; /*red*/
		margin: 0 6% 0 6%;} 

#mainLogo	{color: #000000;
			 font-size: 3.5em;
			 font-family: 'archisticobold', Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
			 }
/*top main nav*/
#topNav 	{    background-color: #B87D46; /*brown orange*/
			 margin: 10px 0 10px 0;
			 padding: 5px 5px 5px 5px;
			 text-align: center;}

#topNav ul li	{
			display:inline-block;
			width: 15%;
			list-style-type: none;
			}	
			
#topNav ul li a 	{
				text-decoration: none;
				display: inline-block;
				font-weight: 700;
				font-size: 1.2em;
				width: 100%;
				}

#topNav ul		{
				padding: 0;
				margin: 0;
				}

#topNav ul li a:link {color: black;}

#topNav ul li a:visited {color: black;}

/*main content*/			   
main {	display: block;
	 width: 100%;
	 margin: 0 auto 0 auto;
	 height: 100%;     /* full height of the content box */
     min-height: 37em; 
	 padding-top: 10px;
	 background-color: #90CC9A;} /*alternate light green*/

h1, h2 {text-align: center;
		}

#zengarden {margin: 0 auto 0 auto;
			display: block;}

section	{text-align: justify;
		 padding: 10px 2% 10px 2%;
		 margin: 10px 10px 10px 10px;
		 background-color: #FFD8B4;
		 -moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
		 }
		
#homeContent	{
				display: block;
				width: 70%;
				float: left;
				}
#welcomeMsg {
		width: 95%;
		background-color: #FFD8B4;
		margin: 10px 10px 10px 10px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
			}

#zstones { 	float: right;
			margin: 10px 10px 10px 0;
			
			}

.homeSmallSection	{
			width: 40%;
			background-color: #FFD8B4;
			-moz-border-radius: 20px;
			-webkit-border-radius: 20px;
			border-radius: 20px;}

#contactArea	{
				display: inline-block;
				margin: 10px 10px 10px 10px;
				position: relative;
				left: 0px;
				}		

#zenlikeHubPortal	{
				display: inline-block;
				margin: 10px 10px 10px 10px;
								}				


.loginRegisterBox 	{   
			 	 text-align: center;
				 }

.loginRegisterBox ul li	{
			background-color: #368D45;
			list-style-type: none;
			width: 300px;
			margin: 5px auto 5px auto;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			}	
			
.loginRegisterBox ul li a 	{
				display: block;
				text-decoration: none;
				font-weight: 700;
				font-size: 1.4em;
					}

.loginRegisterBox ul		{
				padding: 0;
				margin: 0;
				}

.loginRegisterBox ul li a:link {color: white;}

.loginRegisterBox ul li a:visited {color: white;}

.loginRegisterBox ul li a:hover {background-color: #044B10;
								-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;}

				
/*------zenlike application---------*/
#loggedInMsg {color: white;
			float: right;
			padding: 5px 5px 5px 5px;
			background-color: grey;
			font-size: 14pt;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;}

#logoutButton a {text-decoration: none;}
#logoutButton a:link {color: white;}
#logoutButton a:visited {color: white;}
#logoutButton a:hover {background-color: #ACACAC;}
#myHubButton {background-color: #368D45;
				padding: 5px 5px 5px 5px;}
#myHubButton a {text-decoration: none;}
#myHubButton a:link {color: white;}
#myHubButton a:visited {color: white;}
#myHubButton a:hover {background-color: #5FAD6D;}
				
				

table	{margin: 0 auto 0 auto;
		 text-align: right;
		 border-collapse: collapse;
		 width: 100%;
		 border: 1px solid #368D45;}

th		{width: 150px;
		text-align: right;
		padding: 3px 10px 3px 0;
		color: #FFFFFF;
		background: #368D45;
		background: -webkit-linear-gradient(top, #368D45 0%, #5FAD6C 30%, #368D45 100%);
		background: -o-linear-gradient(top, #368D45 0%, #5FAD6C 30%, #368D45 100%);
		background: -ms-linear-gradient(top, #368D45 0%, #5FAD6C 30%, #368D45 100%);
		background: linear-gradient(to bottom, #368D45 0%, #5FAD6C 30%, #368D45 100%);
		}

tr	{
	border: 1px solid #368D45;
	line-height: 2em;
	}		

td	{padding: 0 5px 0 5px;
	}

	
 /*#B84F46; red*/

/* Zebra striping */
td:nth-of-type(1) {
	font-weight: bold;
	background-color: #B84F46;
	color: white;
	}
td:nth-of-type(2) { 
  background: #B6DBBC; 
}
td:nth-of-type(3){ 
  background: #FFD7D4; 
}
td:nth-of-type(4) { 
  background: #B6DBBC; 
}
td:nth-of-type(5){ 
  background: #FFD7D4; 
}
td:nth-of-type(6) { 
  background: #B6DBBC; 
}
td:nth-of-type(7){ 
  background: #FFD7D4; 
}
td:nth-of-type(8) { 
  background: #B6DBBC; 
}
/*Event Indicators---TEMPORARY COLORS*/
.mealEvent{background-color: black;
			color: white;
			font-size: 10pt;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			padding: 0 2px 0 2px;}
			
.exerciseEvent{background-color: blue;
			color: white;
			font-size: 10pt;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			padding: 0 2px 0 2px;}
			
.meditEvent{background-color: red;
			color: white;
			font-size: 10pt;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			padding: 0 2px 0 2px;}
			
#clearCalendar {padding: 5px 5px 5px 5px;
				background-color: red;
				font-size: 14;}
#clearCalendar a {text-decoration: none;}
#clearCalendar a:link {color: white;}
#clearCalendar a:visited {color: white;}
#clearCalendar a:hover {background-color: pink;}
		
			/*responsive calender*/
				@media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px)  {

					/* Force table to not be like tables anymore */
					table, thead, tbody, th, td, tr { 
						display: block; 
					}
					
					/* Hide table headers (but not display: none;, for accessibility) */
					thead tr { 
						position: absolute;
						top: -9999px;
						left: -9999px;
					}
					
					tr { border: 1px solid #368D45; }
					
					td { 
						/* Behave  like a "row" */
						border: none;
						border-bottom: 1px solid #368D45; 
						position: relative;
						padding-left: 50%; 
						padding-bottom: 10px;
					}
					

					td:before { 
						/* Now like a table header */
						position: absolute;
						/* Top/left values mimic padding */
						top: 6px;
						left: 6px;
						width: 45%; 
						padding-right: 10px; 
						white-space: nowrap;
					}
					
					/*
					Label the data
					*/
					td:nth-of-type(1):before { content: "Time";}
					td:nth-of-type(2):before { content: "Sunday"; }
					td:nth-of-type(3):before { content: "Monday"; }
					td:nth-of-type(4):before { content: "Tuesday"; }
					td:nth-of-type(5):before { content: "Wednesday"; }
					td:nth-of-type(6):before { content: "Thursday"; }
					td:nth-of-type(7):before { content: "Friday"; }
					td:nth-of-type(8):before { content: "Saturday"; }
				}
						
/*######## Smart Green event creator ########*/
.smart-green {
    margin-left:auto;
    margin-right:auto;
	margin-top: 5px;
	margin-bottom: 10px;
	max-width: 500px;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.smart-green h1 {
    font-size: 24px ;
    padding: 20px 0px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: #9DC45F;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid #89AF4C;

}
.smart-green h1>span {
    display: block;
    font-size: 11px;
    color: #FFF;
}

.smart-green label {
    display: block;
    margin: 0 auto 0 auto;
	width: 75%;
}
.smart-green label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.smart-green input[type="number"], .smart-green select {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}

.smart-green select {
    background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
    -webkit-appearance:none; 
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width:100%;
    height:30px;
}
.smart-green .button {
    background-color: #9DC45F;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: none;
	margin: 5px auto 5px auto;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
}
.smart-green .button:hover {
    background-color:#80A24A;
}

/*Contact Form*/
#contactMain	{
				padding: 10px 0 10px 0;}
#contactFormDiv	{
				width: 80%;
				background-color: #FFD8B4;
				margin: 10px auto 10px auto;
				-moz-border-radius: 20px;
				-webkit-border-radius: 20px;
				border-radius: 20px;
					}
#contactForm 	{
				background-color: white;
				font-size: 1.2em;
				width: 50%;
				margin: 20px auto 0 auto;
				padding:  10px;
				border: 2px solid rgb(100,100,100);
				}
#contactForm label			{
			display: inline-block;
			text-align: right;
			width: 30%;
			}
#contactForm input			{display: inline-block;
			width: 60%;}

.formnote	{font-size: 10pt;
			line-height: 1em;}
/*footer*/
footer			{	clear: both;
					padding: 10px 0 10px 0;
					background-color: #B84F46; /*red*/
					margin: 10px 6% 0 6%;} 
.createdBy	{text-align: center;
				
				  }
#footerNav		{color: #FFFFFF;
				background-color: #000000;
				 text-align: center;
				  margin: 10px 0 10px 0;
				  padding: 5px 5px 5px 5px;}

#footerNav a  {text-decoration: none}

#footerNav a:link {color: #FFFFFF;}
#footerNav a:visited {color: #FFFFFF;}


/*-----------Register & Login Forms-----------------*/
/* Basic Grey */
.basic-grey {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.basic-grey h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;
    color: #888;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 0px;
}
.basic-grey label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey input[type="password"], .basic-grey textarea, .basic-grey select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.basic-grey textarea{
    padding: 5px 3px 3px 5px;
}
.basic-grey select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right;
	-webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
.basic-grey textarea{
    height:100px;
}
.basic-grey .button {
    background: #B84F46;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.basic-grey .button:hover {
    background: #8F2820;
}

#err_msg { margin: 0 auto;
			background-color: #368D45;
			font-weight: bold;
			text-align: center;
			color: white;
			max-width: 500px; 
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;}

/*Responsive Site*/

/*tablets*/
@media only screen and (max-width: 1100px) {
			main {min-height: 1300px;
				
				}
			
			#homeContent	{
				clear: both;
				text-align: center;
				display: block;
				margin: 0 auto;
				width: 90%;
					}
			#welcomeMsg {
					width: 95%;
						}

			#zstones { 
				float: none;
				padding-left: 30%;
			
								}

			.homeSmallSection	{
				width: 95%;
				}

			#contactArea	{
							display: block;
							margin: 10px 10px 10px 10px;
							}		

			#zenlikeHubPortal	{
								display: block;
									}	
			
		
	
			
}

/*mobiles*/
@media only screen and (max-width: 620px) {
			main {min-height: 1500px;
				}
		
			

			#zstones { 
				float: none;
		        padding-left: 20%;
			    	}

		
			#topNav ul li {display:block;
						margin: 0 auto;
						width: 90%;
						background-color: #E2AC7B;
						margin-top: 2px;
						margin-bottom: 2px;
						padding-top: 1px;
						padding-bottom: 1px;
						-webkit-border-radius: 10px;
						-moz-border-radius: 10px;
						border-radius: 10px;
						}
		     .loginRegisterBox ul li	{width:200px;}
		

}

@media only screen and (max-width: 320px) {
			main {min-height: 1400px;
				}
			#mainLogo {font-size:3em;}
		
			#zstones { position: absolute; left: -1000px;
			    	}
	
}


