@charset "UTF-8";
/*  border: 1px solid black; */
/*body*/
body 	{font-family: 'robotolight', Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
		 color: #000000;
		 background-color: #2C6871;
				}
/*fonts*/
@font-face {
    font-family: 'archisticobold';
    src: url('Archistico_Bold-webfont.eot');
    src: url('Archistico_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Archistico_Bold-webfont.woff') format('woff'),
         url('Archistico_Bold-webfont.ttf') format('truetype'),
         url('Archistico_Bold-webfont.svg#archisticobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('Roboto-Light-webfont.eot');
    src: url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Light-webfont.woff') format('woff'),
         url('Roboto-Light-webfont.ttf') format('truetype'),
         url('Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
		
/*container*/
#outerWrapper {width: 100%;
			   margin: 0 auto 0 auto;
			   background-color: #2C6871;
			      } 

/*header*/
header	{background-color: #B84F46; /*red*/
		margin: 0 6% 0 6%;} 

#mainLogo	{color: #000000;
			 font-size: 3.5em;
			 font-family: 'archisticobold', Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
			 }
/*top main nav*/
#topNav 	{    background-color: #B87D46; /*brown orange*/
			 margin: 10px 0 10px 0;
			 padding: 5px 5px 5px 5px;
			 text-align: center;}

#topNav ul li	{
			display:inline-block;
			width: 15%;
			list-style-type: none;
			}	
			
#topNav ul li a 	{
				text-decoration: none;
				display: inline-block;
				font-weight: 700;
				font-size: 1.2em;
				width: 100%;
				}

#topNav ul		{
				padding: 0;
				margin: 0;
				}

#topNav ul li a:link {color: #2C6871;}

#topNav ul li a:visited {color: #2C6871;}
				


/*main content*/			   
main {	display: block;
	 width: 100%;
	 margin: 0 auto 0 auto;
	 height: 100%;     /* full height of the content box */
     min-height: 37em; 
	 
	 background-color: #90CC9A;} /*alternate light green*/

h1, h2 {text-align: center;
		}


#zengarden {margin: 0 auto 0 auto;
			display: block;}

section	{text-align: justify;
		 padding: 10px 2% 10px 2%;
		 }
		
#homeContent	{
				margin: 0 auto 0 auto;
				display: block;
				width: 70%;
				float: left;
				}
#welcomeMsg {
		width: 95%;
		background-color: #FFD8B4;
		margin: 10px 10px 10px 10px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
			}

#zstones { 	float: right;
			margin: 10px 10px 10px 0;
			/*styling required for responsive i.e. center image, increase main height for mobile*/
			}

.homeSmallSection	{
			width: 40%;
			background-color: #FFD8B4;
			-moz-border-radius: 20px;
			-webkit-border-radius: 20px;
			border-radius: 20px;}

#contactArea	{
				display: inline-block;
				margin: 10px 10px 10px 10px;
				position: relative;
				left: 0px;
				}		

#zenlikeHubPortal	{
				display: inline-block;
				margin: 10px 10px 10px 10px;
								}				

/*zenlike application*/
#zenlikeHubContainer	{
						margin: 0 auto 0 auto;}
			

table	{margin: 100px auto 0 auto;
		 text-align: right;
		 border-collapse: collapse;
		 border: 1px solid #368D45;}

th		{width: 150px;
		text-align: right;
		padding: 3px 10px 3px 0;
		color: #FFFFFF;
		background: #368D45;
		background: -webkit-linear-gradient(top, #368D45 0%, #5FAD6C 30%, #368D45 100%);
		background: -o-linear-gradient(top, #368D45 0%, #5FAD6C 30%, #368D45 100%);
		background: -ms-linear-gradient(top, #368D45 0%, #5FAD6C 30%, #368D45 100%);
		background: linear-gradient(to bottom, #368D45 0%, #5FAD6C 30%, #368D45 100%);
		}

tr	{
	border: 1px solid #368D45;
	line-height: 1.5em;
	}		

td	{padding: 0 10px 0 0;}

.tdA	{
		background-color: #FFD8B4;
		}

.tdB	{
		background-color: #B6DBBC;
		}
		
/*Contact Form*/
#contactMain	{
				padding: 10px 0 10px 0;}
#contactFormDiv	{
				width: 80%;
				background-color: #FFD8B4;
				margin: 10px auto 10px auto;
				-moz-border-radius: 20px;
				-webkit-border-radius: 20px;
				border-radius: 20px;
					}
#contactForm 	{
				background-color: white;
				font-size: 1.2em;
				width: 50%;
				margin: 20px auto 0 auto;
				padding:  10px;
				border: 2px solid rgb(100,100,100);
				}
label			{
			display: inline-block;
			text-align: right;
			width: 30%;
			}
input			{display: inline-block;
			width: 60%;}

.formnote	{font-size: 10pt;
			line-height: 1em;}
/*footer*/
footer			{	clear: both;
					padding: 10px 0 10px 0;
					background-color: #B84F46; /*red*/
					margin: 10px 6% 0 6%;} 
.createdBy	{text-align: center;
				
				  }
#footerNav		{color: #FFFFFF;
				background-color: #000000;
				 text-align: center;
				  margin: 10px 0 10px 0;
				  padding: 5px 5px 5px 5px;}

#footerNav a  {text-decoration: none}

#footerNav a:link {color: #FFFFFF;}
#footerNav a:visited {color: #FFFFFF;}

/*Responsive Site*/

/*tablets*/
@media only screen and (max-width: 1100px) {
			main {min-height: 1300px;
				padding-top: 10px;}
			
			#homeContent	{
				float: center;
				margin: 0 auto 0 auto;
				display: block;
				width: 90%;
					}
			#welcomeMsg {
					width: 95%;
						}

			#zstones { 
				float: left;
					padding-left: 350px;
			    	}

			.homeSmallSection	{
				width: 95%;
				}

			#contactArea	{
							display: block;
							margin: 10px 10px 10px 10px;
							}		

			#zenlikeHubPortal	{
								display: block;
									}				
	
			
}

/*mobiles*/
@media only screen and (max-width: 620px) {
			main {min-height: 2000px;
				padding-top: 10px;}
		
			#homeContent	{
				float: center;
				margin: 0 auto 0 auto;
				display: block;
				width: 90%;
					}
			#welcomeMsg {
					width: 95%;
						}

			#zstones { 
				float: left;
					padding-left: 130px;
			    	}

			.homeSmallSection	{
				width: 95%;
				}

			#contactArea	{
							display: block;
							margin: 10px 10px 10px 10px;
							}		

			#zenlikeHubPortal	{
								display: block;
									}				
		

}

@media only screen and (max-width: 320px) {
			main {min-height: 1400px;
				padding-top: 10px;}
		
			#homeContent	{
				float: center;
				margin: 0 auto 0 auto;
				display: block;
				width: 90%;
					}
			#welcomeMsg {
					width: 95%;
						}

			#zstones { /*float: left;
					padding-left: 80px;
					visibility: hidden;*/
					position: absolute; left: -1000px;
			    	}

			.homeSmallSection	{
				width: 95%;
				}

			#contactArea	{
							display: block;
							margin: 10px 10px 10px 10px;
							}		

			#zenlikeHubPortal	{
								display: block;
									}
			
	
}


