@charset "UTF-8";

/*container*/
#outerWrapper {width: 100%;
			   margin: 0 auto 0 auto;}

/*main content*/			   
main {display: block;
	 width: 100%;
	 margin: 0 auto 0 auto;
	 border: 1px solid #044B10;} /*darkest green*/

h1, h2 {text-align: center;}

img {display: block;
	}

section	{text-align: justify;
		 padding: 0 2% 0 2%;
		}

