@charset "UTF-8";

@font-face {
    font-family: 'robotolight';
    src: url('Roboto-Light-webfont.eot');
    src: url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Light-webfont.woff') format('woff'),
         url('Roboto-Light-webfont.ttf') format('truetype'),
         url('Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body	{
		font-family: 'robotolight', Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
		color: #000000;
			}

table	{margin: 100px auto 0 auto;
		 text-align: right;
		 border-collapse: collapse;
		 border: 1px solid #000000;}

th		{width: 150px;
		text-align: right;
		padding: 3px 10px 3px 0;
		color: #FFFFFF;
		background: #000000;
		}

tr	{
	border: 1px solid #000000;
	line-height: 1.5em;
	}		

td	{padding: 0 10px 0 0;}

.tdA	{
		background-color: grey;
		}

.tdB	{
		background-color: white;
		}
